<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>OpenHackIndia2012</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/styles.css" rel="stylesheet">
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34041771-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    
  </head>
  <body>

    <a href="https://github.com/minsh/openhackindia2012"><img style="position:absolute;top:0;right:0;border:0;" src="./images/forkme.png" alt="Fork me on GitHub"></a>

    <div class="container">
      <div class="row">
        <div class="span12 center jumbotron" style="margin-top:65px;">
          <img width="110px" height="66px" src="./images/yahoo.png" style="margin-bottom:40px;">
          <h1 style="color:#640f6c;display:inline">OpenHack India 2012</h1>    
        </div>
      </div>
      <div id="search_entry" class="row"></div>
      <div id="results_entry" style="margin:0 auto;" class="row"></div>
    </div>

    <script id="search_view_template" type="text/template">
      <div class="offset1 span10 margin_top">
        <form id="search_form" class="form-horizontal form-search">
          <input id="search" type="text" class="span10 search-query" placeholder="Instantly search for hackers, companies or tags">
        </form>
      </div>
    </script>
    <script id="result_view_template" type="text/template">
      <div class="result well">
        <div class="left">
          <img width="100px" src="<%=photo_url%>" class="shadow">
        </div>
        <div class="right">
          <h2><%=full_name%></h2>
          <h3><%=wtf%></h3>
          <ul>
            <% _.each(links,function(l){ %> 
              <li>
                <a href="<%=l.url%>" target="_blanc">
                  <img src="<%=l.favicon_url%>" width="45px" height="45px">
                </a>
              </li> 
            <% }); %>
          </ul>
          <div style="display:inline-block;">
            <p>
            <% _.each(tags,function(t,idx){ %> 
              <a onclick='window.search("<%=t%>");'>
                <%=t%>
              </a><% if(idx<tags.length-1){ %> | <%}%> 
            <% }); %>
            </p> 
          </div>
        </div>
      </div>
    </script>
    <script src="./js/vendor/underscore.js"></script>
    <script src="./js/vendor/jquery.js"></script>
    <script src="./js/vendor/backbone.js"></script>
    <script src="./js/vendor/jquery.masonry.min.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/views/search.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>
